.game-form{
    padding: 10px;
    margin : 20px;
    flex-wrap: wrap;
}

.page-title{
    font-family: 'Silkscreen', 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #fffde7;
    padding: 0px;
    margin: 0px;

}

.match-type-title{
    font-family:'Rubik', sans-serif;
}