.game-form{
    margin : 20px;
}

.AddGameH2{
    font-family: 'Silkscreen', 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #0e0101;
    padding: 10px;
    margin: 0px;

}

.game-form{
    flex-wrap: wrap;
}