.game-form{
    padding: 10px;
    margin : 20px;
    flex-wrap: wrap;
}

.page-title{
    font-family: 'Silkscreen', 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: #fffde7;
    background-color: #4db6ac;
    padding: 0.5px;

}

.match-type-title{
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    font-weight: 600;
    padding: 20px;
    margin-left: 20px;
}

