.box {
    position: relative;
    display: flex;
    
}

.scoreA{
    display: inline-block;
    
    padding-left: 32px;
}

.scoreB{
    display: inline-block;
    padding-left: 32px;
    
}

.myScore-title, .myScore-h1{
    display: block;
    align-items: center;
}

.opponentScore-title, .oppScore-h1{
    display: block;
    font-weight: 700;
    align-items: center;
    
}

.courtLocation{
    display: block;
    padding-left: 32px;
    
    max-width: 200px;
   
}


.dash-date{
    color:rgb(54, 54, 75);
    position: absolute;
    margin-top: 10px;
    padding-left: 10%;
    font-size: 1.0em;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    text-align: center;
   
}

.seeDetails{
    padding-left:32px;
    margin-bottom: 30px;
}


.win{
    font-size:1.5em;
    font-family : 'Silkscreen', 'Courier New', Courier, monospace;
    color: #4db6ac;
}

.loss{
    font-size:1.5em;
    font-family : 'Silkscreen', 'Courier New', Courier, monospace;
    color: #bf360c;

}

.record{
    font-size: 1em;
    text-align: center;
    word-spacing: 10px;
}

.record-w{
    color: #4db6ac;
    display: inline-block;
    padding-right: 10px;
}

.record-l{
    color: #bf360c;
    display: inline-block;
    padding-left: 10px;
}

.divider{
    color: #424242;
    display: inline-block;
}

h3{
   color: #424242;
}