.box {
    position: relative;
    display: flex;
    
}

.scoreA{
    display: inline-block;
    padding-left: 32px;
}

.scoreB{
    display: inline-block;
    padding-left: 50px;
    
}

.myScore-title, .myScore-h1{
    display: block;
    font-family : 'Rubik', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 0.8em;
    padding-left: 10px;
}

.opponentScore-title, .oppScore-h1{
    display: block;
    align-items: center;
    font-family : 'Rubik', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 0.8em;
    
    
}

.courtLocation{
    display: block;
    padding-left: 32px;
    max-width: 200px;
}

.dash-date{
    color:#424242;
    position: absolute;
    margin-top: 10px;
    padding-left: 11%;
    font-size: 1.0em;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    text-align: center;
   
}

.seeDetails{
    padding-left:32px;
    margin-bottom: 30px;
}


.win{
    font-size:1.5em;
    font-family :'Shrikhand', 'Courier New', Courier, monospace;
    color: #4db6ac;
}

.loss{
    font-size:1.5em;
    font-family : 'Shrikhand', 'Courier New', Courier, monospace;
    color: #bf360c;

}

.record{
    font-size: 1em;
    text-align: center;
    word-spacing: 10px;
}

.record-w{
    color: #4db6ac;
    display: inline-block;
    padding-right: 10px;
}

.record-l{
    color: #bf360c;
    display: inline-block;
    padding-left: 10px;
}

.divider{
    color: #424242;
    display: inline-block;
}

.my-record-dash{
   color: #424242;
   margin-bottom: 0px;
}

.notes{
    display: block;
    padding-left: 32px;
    max-width: 200px;
    margin-top: 10px;
    padding-bottom: 10px;
    font-family: 'Rubik', sans-serif;;
    font-weight: 600;
}


  