.logBtn{
   
  padding: 10px 20px;
  margin: 20px;
  align-items: center;
}

h2 {
    font-family: 'Silkscreen', 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #403f3f;
    padding: 10px;
    margin: 0px;
  }

  