.game-form{
    margin : 20px;
}

.page-title{
    font-family: 'Silkscreen', 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: #fffde7;
    background-color: #4db6ac;
    padding: 0.5px;

}

.game-form{
    flex-wrap: wrap;
}