.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color:  #AFEF4B;
  ;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-family: 'Silkscreen', 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #0e0101;
  padding: 20px;
  margin: 0px;
}

.navLink {
  display: block;
  color: #f2f2f2;
  background-color: #AFEF4B;
  text-align: inherit;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #92D1EA;
}
