.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color:  #aeea00;
}

.nav a {
  text-decoration: none;
}


.appTitle {
  font-family: 'Silkscreen', 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  color: black;
  margin: 20px;
  
}

.navLink {
  display: inline;
  color: black;
  background-color: #aeea00;
  text-align:justify;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #f57f17;
}
